perlcritic
output.log
extracted.tsv
output_parser.log
output_curator.log
.nfs000000000400d8f600000d8b
fbbt.owl
fbbt.obo
extracted.results
.nfs000000000536c5c400002c9e
.~lock.metadata.tsv#
catalog-v001.xml
flybase_sql.txt
metadata.csv
metadata.tsv
user_curation.tsv~
