perlcritic
output.log
extracted.tsv
output_parser.log
output_curator.log
fbbt.owl
fbbt.obo
extracted.results
.~lock.metadata.tsv#
catalog-v001.xml
flybase_sql.txt
metadata.csv
metadata.tsv
user_curation.tsv~
catalog-v001.xml
fbdv.owl
fbdv.obo
fbdv-non-classified.obo
fbcv-simple.obo
fbcv.obo
metadata.tsv
metadata.csv
metadata2.csv
.~lock.metadata
.~lock.metadata2.csv#
flybase_sql.txt
.~lock.metadata.tsv#
.gitignore~
metadata_old.csv 
metadata_old.tsv
metadata_old.csv
categories.tsv~
report_curator.log
curation_dictionary.tsv~
final_output.tsv
final_output.tsv~
metadata.csv~
FB_metadata_output_20160830.tsv
