perlcritic
output.log
extracted.tsv
output_parser.log
output_curator.log
.nfs000000000400d8f600000d8b
fbbt.owl
fbbt.obo
extracted.results
.nfs000000000536c5c400002c9e
catalog-v001.xml
fbdv.owl
fbdv.obo
fbdv-non-classified.obo
fbcv-simple.obo
fbcv.obo
metadata.tsv
metadata.csv
metadata2.csv
.~lock.metadata
.~lock.metadata2.csv#
flybase_sql.txt
.~lock.metadata.tsv#
